.summary {
  background-color: var(--bs-gray-200);
  padding: 0 3rem 5rem;
}

.summary h2 {
  padding: 2rem 0 1rem 0;
}

.summary .favourite {
  color: var(--bs-danger);
}

.summary .new {
  color: var(--bs-success);
}

.summary .new,
.summary .favourite {
  margin-left: 0.5rem;
}

.summary h3 {
  font-size: 24px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  color: var(--bs-gray-900);
  background-color: var(--bs-secondary);
  border: 1px solid var(--bs-gray-500);
  border-bottom: 0 none;
}

.summary h4 {
  background-color: var(--bs-gray-400);
  font-size: 20px;
  padding: 0.5rem;
  color: var(--bs-gray-900);
  border-bottom: 1px solid var(--bs-gray-500);
}

.summary .category {
  margin: 0 0 2rem 0;
  padding: 0;
}

.summary .role {
  padding: 0;
  margin: 0;
  border: 1px solid var(--bs-gray-500);
}

.summary .role:first-child + .role:last-child {
  border-left: 0;
}

.summary ul {
  list-style-type: none;
  padding: 0 0 0.5rem;
  margin: 0;
}

.summary-empty {
  color: var(--bs-gray-900);
  padding: 3rem;
}

@media print {
  .print-hide {
    display: none;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  .summary .category {
    page-break-inside: avoid;
  }

  .summary h3,
  .summary .role,
  .summary h4 {
    border: 0 none;
  }
}
