* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--bs-gray-600);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  background-color: var(--bs-gray-900);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5rem 0.3rem 0.3rem;
}
.App-header a {
  color: var(--bs-secondary);
}
.App-header p {
  font-size: calc(10px + 1vmin);
}

.fileOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto 20px;
}

.App-link {
  color: #61dafb;
}

.subnav {
  background-color: var(--bs-gray-300);
  position: sticky;
  top: 0;
  z-index: 10;
  font-weight: 700;
}
.stripe {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 3rem solid var(--bs-secondary);
}

.table-hover > tbody > tr:hover > *,
.table-hover > tbody > tr:focus-within > * {
  /* color: var(--bs-white); */
  background-color: var(--bs-gray-400);
}

thead {
  position: sticky;
  top: 40px;
  z-index: 10;
}
thead tr {
  height: 3rem;
}

.table thead tr th button {
  font-weight: 600;
}
.table thead tr th {
  font-weight: 600;
  color: var(--bs-gray-900);
  background-color: var(--bs-secondary);
  border-right-width: 1px;
}

thead th {
  vertical-align: middle;
}

.grid {
  align-items: stretch;
}

.category-header {
  border-radius: 0;
  width: 100%;
  border: 0 none;
  font-weight: bold;
  color: inherit;
  background-color: transparent;
}

.category-header:hover,
.category-header:focus,
.category-header:active,
.category-header:active.category-header:hover {
  color: inherit;
  background-color: inherit;
}

.add-row {
  background-color: var(--bs-gray-400);
  align-items: end;
  padding: 10px 0;
  text-align: center;
}

.add-row button,
.add-row > div,
.add-row input {
  margin: 0.5rem 0.2rem;
  display: inline;
}

.add-row input {
  max-width: 300px;
}

.grid .row {
  position: relative;
}

.grid .column {
  flex: 1 1 50%;
  padding: 2px;
}

.grid .field-group {
  cursor: pointer;
  border: 1px solid #282c34;
  overflow: hidden;
  background-color: var(--white);
  width: 100%;
}

.grid .field {
  display: block;
  width: 100%;
  position: relative;
}

.icon {
  margin-left: 5px;
}

.checked-indicator {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 5px;
}

.grid .field-group button.favourite {
  position: relative;
  width: 50%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.grid .field-group button.new {
  position: relative;
  width: 50%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.grid .never .field {
  border-bottom: 0;
  width: 100%;
}
.grid .never .new,
.grid .never .favourite {
  display: none;
}

.row-label-header,
.row-label {
  width: 170px;
  padding: 0.5rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media only screen and (max-width: 450px) {
  .nav-link {
    padding: 0.5rem;
  }
  .checked-indicator {
    font-size: 8px;
    top: -1px;
    left: auto;
    right: 2px;
  }

  .grid .field-group {
    display: block;
  }

  .grid .field-group .btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.2rem;
  }
  .icon {
    display: none;
  }

  .form-table td {
    padding: 0;
  }

  .row-label-header,
  .row-label {
    padding: 0;
    font-size: 0.9rem;
    width: 65px;
    word-break: break-all;
  }

  .category-header {
    padding: 0.1rem;
  }
}
@media only screen and (min-width: 451px) and (max-width: 800px) {
  .nav-link {
    padding: 0.5rem;
  }
  .checked-indicator {
    font-size: 8px;
    top: -1px;
    left: auto;
    right: 2px;
  }

  .grid .field-group {
    display: block;
  }

  .grid .field-group .btn {
    padding: 0.4rem 0.2rem;
  }
  .icon {
    display: none;
  }

  .form-table td {
    padding: 0;
  }

  .row-label {
    width: 100px;
  }

  .category-header {
    padding: 0.1rem;
  }
}
@media only screen and (max-width: 950px) {
}
