:root {
  --primary: #4bb521;
  --yellow: #ffdd00;
  --black: #161616;
  --light-grey: #bdbdbd;
  --dark-grey: #565656;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #464d5a;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.subnav {
  background-color: #bdbdbd;
  position: sticky;
  top: 0;
  z-index: 10;
}

thead {
  position: sticky;
  top: 40px;
  z-index: 10;
}

thead th {
  vertical-align: middle;
}

.grid {
  align-items: stretch;
  gap: 20px;
}
.grid .row {
  position: relative;
}

.grid .column {
  flex: 1 1 50%;
  padding: 2px;
}

.grid .field-group {
  cursor: pointer;
  border: 1px solid #282c34;
  border-radius: 0.5rem;
  background-color: var(--white);
  width: 100%;
}

.grid .field {
  display: block;
  width: 100%;
}

.grid .field-group:not(.never) .field {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom: 1px solid #161616;
}

.grid .field:hover,
.grid .field:focus {
  border-bottom: 1px solid #161616;
}

.icon {
  margin-left: 5px;
}

.grid .favourite {
  width: 50%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.grid .new {
  width: 50%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.grid .never .field {
  border-bottom: 0;
  width: 100%;
}
.grid .never .new,
.grid .never .favourite {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .grid .field-group {
    display: block;
  }
  .icon {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
}
